/* Global Configuration */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    background-color:#ECEEF1;
    font-family: Arial, Helvetica, sans-serif;
}

li{
    list-style: none;
}

/* Navigation Bar Stylings */

nav{
    display: grid; 
    grid-template-areas: "already signin"
                         "forgot signin" ;
    justify-content: end;
    padding: 10px 20px;
    align-items: center;
}

.already,
.forgot {
    font-size: 12px;
}
.already{
    grid-area: already;
    color: #505050;
}

.forgot{
    grid-area: forgot;
    text-decoration: none;
    color: #0077c5;
}
.signin{
    grid-area: signin;
    margin: 0 15px;
    color: #fff;
    background-color: #0077c5;
    padding: 10px 25px;
    border: 1px solid #666;
    border-radius: 5px;
}

.signin i{
    margin-right:5px;
}

/* Main Section */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Branding */

.branding ul{
    display: grid;
    grid-template-areas: "intuit intuit intuit"
                        "mint quickbooks turbotax";
    justify-items: center;
}

.branding ul li{
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
}

.intuit{
    background-image: url("img/intuit_logo.png");
    grid-area: intuit;
    width: 150px;
    height: 50px;
    
}

.mint,
.quickbooks,
.turbotax{
    width: 100px;
    height: 100px;
    margin: 0 5px 0 5px;
}

.mint{
    background-image: url("img/mint_loo.png");
    grid-area: mint;
    width: 70px;
}

.quickbooks{
    background-image: url("img/quickbooks_logo.png");
    grid-area: quickbooks;
}

.turbotax{
    background-image: url("img/turbotax_logo.png");
    grid-area: turbotax;
}