*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    background-color:#ECEEF1;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display: grid; 
    grid-template-areas: "already signin"
                         "forgot signin" ;
    justify-content: end;
    padding: 10px 20px;
    align-items: center;
}

.already,
.forgot {
    font-size: 12px;
}
.already{
    grid-area: already;
    color: #505050;
}

.forgot{
    grid-area: forgot;
    text-decoration: none;
    color: #0077c5;
}
.signin{
    grid-area: signin;
    margin: 0 15px;
    color: #fff;
    background-color: #0077c5;
    padding: 10px 25px;
    border: 1px solid #666;
    border-radius: 5px;
}

.signin i{
    margin-right:5px;
}